.footer_a {
    background-color: blueviolet;
}
.footer_span {
    background-color: cadetblue;
}
.option-red {
    color: red;
}
.option-yellow {
    color: yellow;
}
.option-green {
    color:green;
}
